* {
    font-family: 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}
.outer-container {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, #1c9222 0%, #765e94 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 10px;
    border-style: none;
    padding: 20px;
}